nav#main-navbar{
  background-color:blue;
  overflow:hidden;
  margin:0;
  padding:0;
}

#navbar-container{
  position:relative;
  width: auto;
  left:50%;
  display:block;
}
#navbar-container ul {

list-style-type: none;
}

#navbar-container ul li {
  float:left;
  padding: 15px 25px;
}

#navbar-container ul li a {
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}

#onpage{
  text-decoration: underline overline;
}

#sidebar-container{
  text-align: center;
  padding:0;
  display:block;
  background-color: red;
  list-style-type: none;
  position: fixed;

}

#sidebar-container ul li{
  list-style-type: none;
  padding: 15px;
}

#sidebar-container ul li a {
  color: #fff;
  text-decoration: none;
}
